*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clr::after{
    content:"";
    display: table;
    clear: both;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

/****************** STYLING ******************/
/* Red border */
hr.new1 {
  border-top: 1px solid red;
}

/* Dashed red border */
hr.new2 {
  border-top: 1px dashed red;
}

/* Dotted red border */
hr.new3 {
  border-top: 1px dotted red;
}

/* Thick red border */
hr.new4 {
  border: 1px solid red;
}

/* Large rounded green border */
hr.new5 {
  border: 10px solid green;
  border-radius: 5px;
}